.alerts {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.3s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    transform: scale(3.2)
}

@keyframes shake {
    /* 0% { transform: translate(-5px, 5px) rotate(90deg);  transform: scale(3.2)}
    50% { transform: translate(-1px, 2px) rotate(0deg); transform: scale(2.5)}
    100% { transform: translate(1px, -2px) rotate(90deg); transform: scale(3.2)} */

    0% { transform:  rotate(0deg);}
   
    20% { transform:  rotate(45deg); }
    
    40% { transform:  rotate(0deg); }
   
    60% { transform:  rotate(-45deg); }
   
    80% { transform: translate(-1px, -1px) rotate(0deg);}

    100% { transform: translate(1px, -2px) rotate(0deg); }
}